.header_wrap {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}

h1 {
  display: inline-block;
  font-size: 2rem;
  margin-left: 1.25rem;
  margin-right: 3.563rem;
}

.header_wrap h1 a img {
  margin-top: 1rem;
}
