#img_box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

@media (max-width: 1024px) {
  #img_box {
    display: none;
  }
}

@media (max-width: 1200px) {
  #img_box img {
    margin-top: 60px;
    width: 70%;
  }
}
