#section_1 {
  background-image: url("../img/img_main_bg.svg");
  background-size: cover;
  height: 52.81rem;
  padding: 16rem 0;
  position: relative;
}

#section_1 .bg_text {
  margin-left: 45%;
  color: #ffffff;
}

@media (max-width: 1800px) {
  #section_1 .bg_text {
    margin-left: 48%;
  }
}

@media (max-width: 1700px) {
  #section_1 .bg_text {
    margin-left: 50%;
  }
}

@media (max-width: 1650px) {
  #section_1 .bg_text {
    margin-left: 53%;
  }
}

@media (max-width: 1140px) {
  #section_1 .bg_text {
    margin-left: 50%;
  }
}

@media (max-width: 1100px) {
  #section_1 .bg_text {
    margin-left: 45%;
  }
}

#section_1 .bg_text .txt_wrap_1 {
  margin-bottom: 2.313rem;
}

#section_1 .bg_text .txt_wrap_1 .txt_1 {
  font: bold 3.25rem "Noto Sans KR", sans-serif;
  line-height: 3.25rem;
  padding-bottom: 0.625rem;
}

#section_1 .bg_text .txt_wrap_1 .txt_2 {
  font: bold 4.688rem "Noto Sans KR", sans-serif;
  line-height: 4.563rem;
  margin-bottom: 0.75rem;
}

#section_1 .bg_text .txt_wrap_2 .leaf_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3.375rem;
}

#section_1 .bg_text .txt_wrap_2 .leaf_box .img_trophy {
  width: 3rem;
  height: 3.125rem;
}

#section_1 .bg_text .txt_wrap_2 .leaf_box .txt_box-column {
  margin: 0 0.625rem;
  display: flex;
  flex-direction: column;
}

#section_1 .bg_text .txt_wrap_2 .leaf_box .txt_box__1 {
  font: normal 400 1.313rem "Noto Sans KR", sans-serif;
  margin-bottom: 0.3125rem;
}

#section_1 .bg_text .txt_wrap_2 .leaf_box .txt_box__2 {
  font: normal 200 1rem "Noto Sans KR", sans-serif;
}

#section_1 .bg_text .txt_wrap_3 .store-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#section_1 .bg_text .txt_wrap_3 .store-btn span {
  margin-left: 0.25rem;
}

#section_1 .bg_text .txt_wrap_3 .store-btn a {
  display: flex;
  align-items: center;
  background-color: #49a4fc;
  z-index: 6;
  border-radius: 0.625rem;
}

#section_1 .bg_text .txt_wrap_3 .store-btn .google-btn {
  height: 3.313rem;
  margin-right: 0.9375rem;
}

#section_1 .bg_text .txt_wrap_3 .store-btn .apple-btn {
  height: 3.313rem;
}

/* section_2 */
/* 공유 css */
#section_2,
#section_3,
#section_4,
#section_5,
#section_6,
#section_7 {
  padding: 15.63rem 0 16.25rem 0;
  border-bottom: rgba(128, 128, 128, 0.4) solid 0.0625rem;
}

#section_2 .inner,
#section_3 .inner,
#section_4 .inner,
#section_5 .inner,
#section_6 .inner,
#section_7 .inner {
  max-width: 65.63rem;
  margin: 0 auto;
}

#section_2 .inner .graphBox,
#section_3 .inner .graphBox,
#section_4 .inner .graphBox,
#section_5 .inner .graphBox,
#section_6 .inner .graphBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#section_2 .inner .graphBox__left,
#section_3 .inner .graphBox__left,
#section_4 .inner .graphBox__left,
#section_5 .inner .graphBox__left,
#section_6 .inner .graphBox__left {
  text-align: left;
  letter-spacing: 0.1rem;
}

#section_2 .graphBox__left .column_1,
#section_3 .graphBox__left .column_1,
#section_4 .graphBox__left .column_1,
#section_5 .graphBox__left .column_1,
#section_6 .graphBox__left .column_1 {
  font: bold 2.938rem "Noto Sans KR", sans-serif;
  line-height: 3.7rem;
  margin-bottom: 2.125rem;
}

#section_2 .graphBox__left .column_2 p {
  font: 300 1.813rem "Noto Sans KR", sans-serif;
  line-height: 3.25rem;
}

#section_2 .graphBox__left .column_2 p span {
  font: 400 1.813rem "Noto Sans KR", sans-serif;
  margin-left: 0.4rem;
}

#section_2 .graphBox__left .column_2 .small_txt {
  font: 300 1.5rem "Noto Sans KR", sans-serif;
  margin-top: 2.5rem;
}

#section_2 .graphBox__right,
#section_3 .graphBox__right,
#section_4 .graphBox__right,
#section_5 .graphBox__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section_2 .box-effect {
  position: absolute;
  animation-name: move, fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes move {
  from {
    left: 65%;
  }
  to {
    left: 50%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#section_2 .graphBox__right .right_box .lg_bubble .small-bubble {
  background: url(../img/img_speech_bubble-small.png) 0% 0% no-repeat;
  position: absolute;
  top: 0;
  left: -1.2rem;
  width: 27.5rem;
  height: 6.25rem;
  z-index: 2;
  margin-top: -4.375rem;
}

#section_2 .graphBox__right .right_box .lg_bubble,
#section_4 .graphBox__right .right_box .lg_bubble {
  position: relative;
  margin: 9.3rem 0 0 1.2rem;
  padding: 1.5rem 0 0 1.8rem;
  width: 30rem;
  height: 12.5rem;
  background: url(../img/img_speech_bubble-lg.svg) 0% 0% no-repeat;
  color: #fff;
}

#section_2 .graphBox__right .right_box .lg_bubble .dropdown_1,
#section_2 .graphBox__right .right_box .lg_bubble .dropdown_2 {
  outline: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/img_arrow_down.svg) 100% 50% no-repeat;
  color: #fff;
  width: 9.3rem;
  height: 3.4rem;
  font: 700 1.8rem "Noto Sans KR", sans-serif;
}

#section_2 .graphBox__right .right_box .lg_bubble .dropdown_1 option,
#section_2 .graphBox__right .right_box .lg_bubble .dropdown_2 option {
  font: 300 1.2rem "Noto Sans KR", sans-serif;
  color: black;
}

#section_2 .graphBox__right .right_box .lg_bubble .box_1 span,
#section_2 .graphBox__right .right_box .lg_bubble .box_2 {
  font: 700 1.8rem "Noto Sans KR", sans-serif;
  padding: 0 0 0 0.3rem;
}

#section_2 .graphBox__right .right_box .lg_bubble .box_2 .m_amount {
  margin: 1.563rem;
}

#section_2 .inner .graphBox__right .right_box .small_txt,
#section_4 .inner .graphBox__right .right_box .small_txt {
  font: 300 1.063rem "Noto Sans KR", sans-serif;
  color: #747474;
  margin-top: -0.625rem;
  margin-left: 4.063rem;
}

/* section_3 */
#section_3 .inner .graphBox__left .column_2 p {
  font: 300 1.813rem "Noto Sans KR", sans-serif;
}

#section_3 .graphBox__left .column_2 p span {
  font: 400 1.813rem "Noto Sans KR", sans-serif;
  letter-spacing: -0.01rem;
}

#section_3 .inner .graphBox__right .graph_wrap {
  position: relative;
  background: url(../img/img_graph_bg.svg) no-repeat center;
  width: 31.25rem;
  height: 18.75rem;
}

#section_3 .inner .graphBox__right .graph_wrap .txt_wrap {
  font: 400 1.438rem "Noto Sans KR", sans-serif;
  opacity: 55%;
}

#section_3 .inner .graphBox__right .graph_wrap .wrap_1 {
  display: flex;
  justify-content: center;
  height: 12.81rem;
}

#section_3 .inner .graphBox__right .graph_wrap .wrap_2 {
  display: flex;
  justify-content: space-between;
  margin: 0 12%;
}

#section_3 .inner .graphBox__right .graph_wrap .wrap_2 .btn_txt_2 {
  margin: 0 5% 0 0;
}

#section_3 .inner .graphBox__right .graph_wrap .types-img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

#section_3 .inner .graphBox__right .graph_wrap .types-img .img_graph_stable {
  position: absolute;
  top: 6.125rem;
  right: 14.31rem;
  background: url(../img/graph_stable.svg) no-repeat center;
  width: 7.118rem;
  height: 6.375rem;
}

#section_3 .inner .graphBox__right .graph_wrap .types-img .img_graph_balance {
  position: absolute;
  top: 4.211rem;
  right: 11.191rem;
  background: url(../img/graph_balance.svg) no-repeat;
  width: 8.75rem;
  height: 7.563rem;
}

#section_3 .inner .graphBox__right .graph_wrap .types-img .img_graph_profit {
  position: absolute;
  top: 2.563rem;
  right: 11.199rem;
  background: url(../img/graph_profit.svg) no-repeat;
  width: 7.125rem;
  height: 9.188rem;
}

#section_3 .inner .graphBox__right .graph_types {
  display: flex;
  justify-content: center;
  height: 2.625rem;
  text-indent: -99999px;
}

#section_3 .inner .graphBox__right .graph_types .bt_1_stabletype {
  background: url(../img/bt_1_stabletype.png) no-repeat;
  width: 7.188rem;
  height: 100%;
  margin: 0.4375rem;
}

#section_3 .inner .graphBox__right .graph_types .bt_2_balancetype {
  background: url(../img/bt_2_balancetype.png) no-repeat;
  width: 9.3rem;
  height: 100%;
  margin: 0.4375rem;
}

#section_3 .inner .graphBox__right .graph_types .bt_3_profittype {
  background: url(../img/bt_3_profittype.png) no-repeat;
  width: 7.188rem;
  height: 100%;
  margin: 0.4375rem;
}

/* section_4 */
#section_4 .inner .graphBox__left .column_2 ul {
  display: inline-block;
  font: 400 1.813rem "Noto Sans KR", sans-serif;
  line-height: 4.063rem;
}

#section_4 .inner .graphBox__left .column_2 li a {
  display: block;
  width: 10.63rem;
}

#section_4 .inner .graphBox__left .column_2 .li_1 {
  position: relative;
  display: flex;
  align-items: center;
  color: #0096ff;
}

#section_4 .inner .graphBox__left .column_2 .li_2 {
  display: flex;
  align-items: center;
}

#section_4 .inner .graphBox__left .column_2 .li_3 {
  display: flex;
  align-items: center;
}

#section_4 .inner .graphBox__left .column_2 .li_1 img {
  vertical-align: middle;
  margin-bottom: 0.3125rem;
}

#section_4 .inner .graphBox__left .column_2 .li_1 .img_help {
  position: absolute;
  top: -7.313rem;
  left: 0.5625rem;
  background: url(../img/img_help.svg) no-repeat;
  width: 27.25rem;
  height: 8.25rem;
  z-index: 3;
}

#section_4 .inner .graphBox__left .column_2 li span {
  font: 800 1.25rem "Noto Sans KR", sans-serif;
  letter-spacing: -0.0625rem;
}

#section_4 .inner .graphBox__left .column_2 li .bar {
  height: 2.3rem;
  margin-right: 1rem;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#section_4 .inner .graphBox__left .column_2 li .bar-effect_1 {
  animation-name: bar1, fadeIn;
}

#section_4 .inner .graphBox__left .column_2 li .bar-effect_2 {
  animation-name: bar2, fadeIn;
}

#section_4 .inner .graphBox__left .column_2 li .bar-effect_3 {
  animation-name: bar3, fadeIn;
}

#section_4 .inner .graphBox__left .column_2 li .val-effect {
  animation-name: fadeIn;
}

@keyframes bar1 {
  from {
    width: 0;
  }
  to {
    width: 3.5rem;
  }
}

@keyframes bar2 {
  from {
    width: 0;
  }
  to {
    width: 7rem;
  }
}

@keyframes bar3 {
  from {
    width: 0;
  }
  to {
    width: 14rem;
  }
}

#section_4 .inner .graphBox__left .column_2 li .val {
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#section_4 .inner .graphBox__left .column_2 li .val_2,
#section_4 .inner .graphBox__left .column_2 li .val_3 {
  color: #878787;
}

#section_4 .graphBox__right .right_box .lg_bubble .small-bubble {
  background: url(../img/img_speech_bubble-small_2.png) 0% 0% no-repeat;
  position: absolute;
  top: 0;
  left: -1.2rem;
  width: 100%;
  height: 6.25rem;
  z-index: 2;
  margin-top: -4.375rem;
}

#section_4 .graphBox__right .right_box .lg_bubble .box_1,
#section_4 .graphBox__right .right_box .lg_bubble .box_2 {
  font: 700 1.8rem "Noto Sans KR", sans-serif;
  letter-spacing: 0.5px;
  padding: 0.5rem 0 0 0.3rem;
}

/* section_5 */
#section_5 .inner .graphBox__left {
  margin-top: 1.563rem;
}

#section_5 .inner .graphBox__right .right_box table tr td {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 9.375rem;
  height: 5.188rem;
}

#section_5 .inner .graphBox__right .right_box table tr td img {
  margin: 2.188rem 1.563rem;
}

/* section_6 */
#section_6 .inner .graphBox__left .column_2 a {
  display: flex;
  align-items: center;
  font: 300 1.375rem "Noto Sans KR", sans-serif;
}

#section_6 .inner .graphBox__right .question_wrap .wrap {
  display: flex;
  flex-direction: column;
  width: 33.31rem;
}

#section_6 .inner .graphBox__right .question_wrap .wrap .qw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  font: 400 1.375rem "Noto Sans KR", sans-serif;
  color: #434444;
  line-height: 2.563rem;
  padding-bottom: 20px;
}

#section_6 .inner .graphBox__right .question_wrap .wrap_1,
#section_6 .inner .graphBox__right .question_wrap .wrap_2 {
  margin-bottom: 20px;
}

#section_6 .inner .graphBox__right .question_wrap .wrap .btn {
  background: url(../img/bt_arrow_down_black.svg) no-repeat;
  display: inline-block;
  width: 4.25rem;
  height: 4.063rem;
}

#section_6 .inner .graphBox__right .question_wrap .wrap .question_txt {
  background-color: #f8f8f8;
  text-align: left;
  letter-spacing: -0.66px;
  font: 300 1.375rem "Noto Sans KR", sans-serif;
  color: #000000;
  border-top: 1px solid #5a5a5a;

  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#section_6 .inner .graphBox__right .question_wrap .wrap .question_txt_1,
#section_6 .inner .graphBox__right .question_wrap .wrap .question_txt_2 {
  padding: 1.875rem 0 1.875rem 0.9375rem;
}

#section_6 .inner .graphBox__right .question_wrap .wrap .question_txt_3 {
  padding: 0.9375rem;
}

/* section_7 */
#section_7 .inner .graphBox .box_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 3.375rem "Noto Sans KR", sans-serif;
  letter-spacing: 0.25rem;
  color: #000000;
  text-align: center;
}

#section_7 .inner .graphBox .box_txt img {
  margin-left: 1rem;
}

#section_7 .inner .graphBox .btn_wrap a {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
}

/* mobile start */
#section_1_mobile {
  display: none;
}

#section_2_mobile {
  display: none;
}

#section_5 .mobile_table {
  display: none;
}

@media (max-width: 1024px) {
  #section_1 {
    display: none;
  }

  #section_2 {
    display: none;
  }

  #section_5 .pc_table {
    display: none;
  }

  #section_1_mobile {
    background: url("../img/img_main_bg_mobile.svg") no-repeat;
    background-size: cover;
    color: #fff;
    display: block;
    padding: 68px 0 150px;
  }

  #section_1_mobile .bg_text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section_1_mobile .bg_text .txt_wrap_2 {
    margin-top: 30px;
  }

  #section_1_mobile .bg_text .txt_wrap_2 .leaf_box .img_leaf {
    width: 20px;
    height: 40px;
  }

  #section_1_mobile .bg_text .txt_wrap_2 .leaf_box .txt_box__1 {
    font: normal 500 15px "Noto Sans KR", sans-serif;
    padding: 5px;
  }

  #section_1_mobile .bg_text .txt_wrap_2 .leaf_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }

  #section_1_mobile .bg_text .txt_wrap_2 .leaf_box .txt_box-column {
    margin: 0 0;
    display: flex;
    flex-direction: column;
  }

  #section_1_mobile .bg_text .txt_wrap_1 {
    text-align: center;
  }

  #section_1_mobile .bg_text .txt_wrap_1 .txt_1 {
    font: 300 30px "Noto Sans KR", sans-serif;
    line-height: 31px;
    margin-top: 10px;
    padding-bottom: 0;
  }

  #section_1_mobile .bg_text .txt_wrap_1 .txt_2 {
    font: 500 44px "Noto Sans KR", sans-serif;
    line-height: 54px;
    margin-bottom: 0.75rem;
  }

  #section_1_mobile .bg_text .img_wrap .wrap_1 {
    margin-left: -120px;
    width: 760px;
  }

  #section_1_mobile .bg_text .img_wrap .wrap_2 {
    display: none;
  }

  #section_1_mobile .bg_text .btn_wrap a {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0px;
    z-index: 10;
  }

  #section_1_mobile .bg_text .btn_wrap a .btn_download_1 {
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    width: auto;
    bottom: 70px;
  }

  #section_1_mobile .bg_text .btn_wrap a .btn_download_2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 10;
  }

  .btnShow {
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  .btnHide {
    animation-name: fadeOut;
    animation-duration: 0.2s;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* section_2_mobile */
  #section_2_mobile,
  #section_3,
  #section_4,
  #section_5,
  #section_6 {
    display: block;
    padding: 140px 0 24px;
    border-bottom: rgba(128, 128, 128, 0.4) solid 0.0625rem;
  }

  #section_2_mobile .inner,
  #section_3 .inner,
  #section_4 .inner,
  #section_5 .inner,
  #section_6 .inner {
    max-width: 80%;
    margin: 0 auto;
  }

  #section_2_mobile .inner .graphBox,
  #section_3 .inner .graphBox,
  #section_4 .inner .graphBox,
  #section_5 .inner .graphBox,
  #section_6 .inner .graphBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #section_2_mobile .graphBox__left .column_1,
  #section_3 .graphBox__left .column_1,
  #section_4 .graphBox__left .column_1,
  #section_5 .graphBox__left .column_1 {
    font: 700 35px "Noto Sans KR", sans-serif;
    text-align: center;
    line-height: 2.7rem;
    margin-bottom: 50px;
  }

  #section_2_mobile .graphBox__left .column_2,
  #section_3 .graphBox__left .column_2 {
    text-align: center;
  }

  #section_2_mobile .inner .graphBox__left .column_2 p,
  #section_3 .inner .graphBox__left .column_2 p {
    font: 300 24px "Noto Sans KR", sans-serif;
    line-height: 3rem;
    letter-spacing: -0.45px;
  }

  #section_2_mobile .graphBox .graphBox__left .column_2 p span,
  #section_3 .graphBox .graphBox__left .column_2 p span {
    font: 400 24px "Noto Sans KR", sans-serif;
    margin-left: 0.4rem;
  }

  #section_2_mobile .graphBox .small_txt {
    display: block;
    font: 300 13px "Noto Sans KR", sans-serif;
    color: #808080;
    margin: 400px 0 0 80%;
  }

  #section_2_mobile .box-effect {
    position: absolute;
    animation-name: s2Move, fadeIn;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes s2Move {
    from {
      top: 52%;
      left: 65%;
    }
    to {
      top: 52%;
      left: 29%;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #section_2_mobile .graphBox__right .right_box .lg_bubble .small-bubble {
    background: url(../img/img_speech_bubble-small.png) 0% 0% no-repeat;
    position: absolute;
    top: 30px;
    left: -0.2rem;
    width: 300px;
    height: 70px;
    background-size: cover;
    z-index: 2;
    margin-top: -4.375rem;
  }

  #section_2_mobile .graphBox__right .right_box .lg_bubble,
  #section_4 .graphBox__right .right_box .lg_bubble {
    position: relative;
    background: url(../img/img_speech_bubble-lg.svg) 0% 0% no-repeat;
    margin: 60px 0px 0px 0px;
    padding: 1.5rem 0 0 1.8rem;
    width: 375px;
    height: 160px;
    background-size: cover;
    color: #fff;
  }

  #section_2_mobile .graphBox__right .right_box .lg_bubble .dropdown_1,
  #section_2_mobile .graphBox__right .right_box .lg_bubble .dropdown_2 {
    outline: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/img_arrow_down.svg) 100% 50% no-repeat;
    color: #fff;
    width: 6.5rem;
    height: 3.4rem;
    font: 700 21px "Noto Sans KR", sans-serif;
  }

  #section_2_mobile .graphBox__right .right_box .lg_bubble .dropdown_1 option,
  #section_2_mobile .graphBox__right .right_box .lg_bubble .dropdown_2 option {
    font: 300 1.2rem "Noto Sans KR", sans-serif;
    color: black;
  }

  #section_2_mobile .graphBox__right .right_box .lg_bubble .box_1 span,
  #section_2_mobile .graphBox__right .right_box .lg_bubble .box_2 {
    font: 700 21px "Noto Sans KR", sans-serif;
    padding: 0 0 0 0.3rem;
  }

  #section_2_mobile .graphBox__right .right_box .lg_bubble .box_2 .m_amount {
    margin: 1.563rem;
  }

  #section_2_mobile .inner .graphBox__right .right_box .small_txt,
  #section_4 .inner .graphBox__right .right_box .small_txt {
    font: 300 14px "Noto Sans KR", sans-serif;
    color: #747474;
    margin-top: -0.625rem;
    margin-left: 1.063rem;
  }
  /* section_3 */
  #section_3 .graphBox .graphBox__right {
    margin: 10% 0 18% 0;
  }

  /* section_4 */
  #section_4 .inner .graphBox__left .column_2 ul {
    display: flex;
    font: 300 17px "Noto Sans KR", sans-serif;
    line-height: 4.063rem;
  }

  #section_4 .inner .graphBox__left .column_2 li a {
    border-top: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  #section_4 .inner .graphBox__left .column_2 .li_1 {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #0096ff;
    height: 350px;
  }

  #section_4 .inner .graphBox__left .column_2 .li_2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 350px;
  }

  #section_4 .inner .graphBox__left .column_2 .li_3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 350px;
  }

  #section_4 .inner .graphBox__left .column_2 .li_1 img {
    vertical-align: middle;
    margin: 8px 0 5px 2px;
    width: 17px;
    height: 18px;
  }

  #section_4 .inner .graphBox__left .column_2 .li_1 .img_help {
    border: unset;
    position: absolute;
    left: 31%;
    top: 66%;
    background: url(../img/img_help.svg) no-repeat;
    background-size: contain;
    width: 250px;
    height: 80px;
    z-index: 3;
  }

  #section_4 .inner .graphBox__left .column_2 li span {
    font: 500 15px "Noto Sans KR", sans-serif;
    letter-spacing: -0.0625rem;
  }

  #section_4 .inner .graphBox__left .column_2 li .bar {
    width: 50px;
    margin-right: 0rem;
    animation-duration: 1.5s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  #section_4 .inner .graphBox__left .column_2 li .bar-effect_1 {
    animation-name: bar1, fadeIn;
  }

  #section_4 .inner .graphBox__left .column_2 li .bar-effect_2 {
    animation-name: bar2, fadeIn;
  }

  #section_4 .inner .graphBox__left .column_2 li .bar-effect_3 {
    animation-name: bar3, fadeIn;
  }

  #section_4 .inner .graphBox__left .column_2 li .val-effect {
    animation-name: fadeIn;
  }

  @keyframes bar1 {
    from {
      height: 0;
    }
    to {
      height: 40px;
    }
  }

  @keyframes bar2 {
    from {
      height: 0;
    }
    to {
      height: 90px;
    }
  }

  @keyframes bar3 {
    from {
      height: 0;
    }
    to {
      height: 200px;
    }
  }

  #section_4 .inner .graphBox__left .column_2 li .val {
    margin-bottom: 10px;
    animation-duration: 1.5s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  #section_4 .inner .graphBox__left .column_2 li .val_2,
  #section_4 .inner .graphBox__left .column_2 li .val_3 {
    color: #878787;
  }

  #section_4 .graphBox__right .right_box .lg_bubble .small-bubble {
    background: url(../img/img_speech_bubble-small_2.png) 0% 0% no-repeat;
    position: absolute;
    top: 30px;
    left: -0.2rem;
    width: 300px;
    height: 70px;
    background-size: cover;
    z-index: 2;
    margin-top: -4.375rem;
  }

  #section_4 .graphBox__right .right_box {
    margin: 80px 0 100px 0;
  }

  #section_4 .graphBox__right .right_box .lg_bubble .box_1,
  #section_4 .graphBox__right .right_box .lg_bubble .box_2 {
    font: 700 21px "Noto Sans KR", sans-serif;
    letter-spacing: 0.5px;
    padding: 0.5rem 0 0 0.3rem;
  }

  /* section_5 */
  #section_5 .mobile_table {
    display: block;
  }

  #section_5 .inner .graphBox__left {
    margin-top: 0;
  }

  #section_5 .inner .graphBox__right .right_box table tr td {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 11.375rem;
    height: 5.188rem;
  }

  #section_5 .graphBox__right .right_box {
    margin-bottom: 180px;
  }

  /* section_6_mobile */
  #section_6 .graphBox__left .column_1 {
    font: 700 35px "Noto Sans KR", sans-serif;
    text-align: center;
    line-height: 2.7rem;
    margin-bottom: 25px;
  }

  #section_6 .inner .graphBox__left .column_2 a {
    display: flex;
    justify-content: center;
    font: 300 15px "Noto Sans KR", sans-serif;
  }

  #section_6 .inner .graphBox__left .column_2 a img {
    width: 25px;
    height: 25px;
  }

  #section_6 .inner .graphBox__right {
    margin: 55px 0 175px 0;
  }

  #section_6 .inner .graphBox__right .question_wrap .wrap {
    display: flex;
    flex-direction: column;
    width: 24.31rem;
  }

  #section_6 .inner .graphBox__right .question_wrap .wrap .qw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    font: 400 18px "Noto Sans KR", sans-serif;
    color: #434444;
    line-height: 2.563rem;
    padding-bottom: 20px;
  }

  #section_6 .inner .graphBox__right .question_wrap .wrap_1,
  #section_6 .inner .graphBox__right .question_wrap .wrap_2 {
    margin-bottom: 20px;
  }

  #section_6 .inner .graphBox__right .question_wrap .wrap .btn {
    background: url(../img/bt_arrow_down_black.svg) no-repeat;
    display: inline-block;
    width: 4.25rem;
    height: 4.063rem;
  }

  #section_6 .inner .graphBox__right .question_wrap .wrap .question_txt {
    background-color: #f8f8f8;
    text-align: left;
    letter-spacing: -0.66px;
    font: 300 1.375rem "Noto Sans KR", sans-serif;
    color: #000000;
    border-top: 1px solid #5a5a5a;

    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  #section_6 .inner .graphBox__right .question_wrap .wrap .question_txt_1,
  #section_6 .inner .graphBox__right .question_wrap .wrap .question_txt_2 {
    padding: 1.875rem 0 1.875rem 0.9375rem;
  }

  #section_6 .inner .graphBox__right .question_wrap .wrap .question_txt_3 {
    padding: 0.9375rem;
  }

  /* section_7*/
  #section_7 {
    display: none;
  }
}
/* mobile end */
