@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "reset.css";
@import "header_wrap.css";
@import "img_box.css";
@import "section.css";
@import "footer.css";

* {
  box-sizing: border-box;
}

html,
body,
#container {
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
